html {
  color: white;
  text-align: center;
  background-image: linear-gradient( 109.6deg,  rgba(118,12,99,1) 11.2%, rgba(71,11,75,1) 98.6% );
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 5px 5px 6px #000000, 5px 5px 5px #000;
}

button {
  background-color:#623aa2;
	border-radius:21px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 36px;
	text-decoration:none;
}

.inner-div {
  padding: 30px;
  margin: auto;
  align-content: center;
  width: 60%;
  height: 60%;
}
